<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{> bootstrap}}
</head>
<body background="https://cdn1.medicalnewstoday.com/content/images/articles/320/320131/coffee-with-happy-face.jpg">
 {{> navbar}}
 <h1>{{'Fatema'}}</h1>
{{>footer}}
 
</body>
</html>